body
{
	background-color: #18344e;
	margin: 200px;
}

.Box
{
	border: solid;
	border-color: black;
	/* the border thickness of the box */
	border-width: 1px 1px 1px 1px;
	background-color: #01a9b4;
	/* Declares the height and width side of the box */
	height: 100%;
	width: 80%;
	text-align: center; /* Keeps the text within the box at the center */
  margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-top: 10%;	/* ensures that there is indentation between the box and of
											browser */
	padding: 20px; /* The spacing between the inner box and its borders */
}

/*
.topBox
{
	height: 200px;
	width: 200px;
	border: 10px;
	padding: 20px;
	border-style: solid;
	background-color: red;
}

.midBox
{
	height: 200px;
	width: 200px;
	border: 20px;
	border-style: solid;
	margin-left: 260px; //margin-left = width + L.border + L.padding + R.border + R.padding
	                                     //200  +   10   +    20   +  20    +   10
	background-color: gold;
}

.botBox
{
	height: 200px;
	width: 200px;
	border: 10px;
	border-style: solid;
	margin-left: 500px; //margin-left =  width.1 + L.border.1 + L.padding.1 + R.border.1 + R.padding.1
	                                 //   + width.2 + L.border.2 + L.padding.2 + R.border.2 + R.padding.2
	                           //          200      +   10       +    20       +  20        +   10
															//			 + 200      +   20       +    0         +  20       +   0
	background-color: green;
}
*/

.topBox
{
	height: 200px;
	width: 200px;
	background-color: red;
}

.midBox
{
	height: 200px;
	width: 200px;
	background-color: blue;
}

h1
{
	margin-top: 30%;	/* the height of h1 headers */
	font-size: 150px;
}

.underline
{
	text-decoration: underline;
}

p
{
	display: inline-block; //combines both inline and block
	width: 100px;
}

.second-p
{
	display: none;
}
